body {

    background:#979397;
    font-family: 'poppins', sans-serif;  
}
/* HEADER */
.presentation {
    background: rgba(233, 148, 207, 0.651);
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.presentation img  {
    width: 200px;  
}
.liens {
    display: flex;
    width: 150px;
    font-size: 20px;   
}
.liens ul {
    display: flex;
    list-style-type: none;  
}
.liens a {
    display: flex;
    text-decoration: none;
    margin-left: 15px;
    color: #fff;   
}
.liens i {
    font-size: 25px;
    width: 40px;  
}


/*.validation{
    margin-bottom: 3%;
    background: rgb(163, 233, 135);
    border-radius: 10px;
    
}

.validation .big_title, .purchase_id{
    text-align: center;
}

.purchase_id{
    font-size: 1.2em;
    margin-top: 2%;
}

#purchase{
    margin: 40px auto 0;
    width: 50%
}*/

/* validation DE LA COMMANDE */
#validation {

    background: rgb(163, 233, 135);
    margin: 0 200px 0 200px;
    border-radius: 10px;
    
}
#validation h1 {

    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 15px;
    padding: 40px 0 0 0;
    color: rgb(7, 59, 7);
}
#validation p {

    display: flex;
    justify-content: center;
    padding: 20px 10px 40px 10px;
    margin-top: 20px;
    color: rgb(7, 59, 7);
    font-size: 15px;
    
}
/* FOOTER */

footer {

    background: rgba(233, 148, 207, 0.651);
    margin-top: 200px;
}
.info ul  {

    list-style-type: none;
    padding: 20px;
    display:flex;
    justify-content: space-around; 
}
.info a {
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
}