/* PANIER */

.panier h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 25px;
}

.container {
    margin: 0.5rem;

}
.table {
    background: rgb(242, 228, 247);
    margin-top: 30px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    width: 100%;
    border-collapse: collapse;
}
th:nth-child(1) {
    width: 35%;
}
.table th, .table td {
   border: 1px solid #000;
   justify-content: center;
   align-items: center;
    /*border-radius: 1px;*/
}

.table th {
    background: rgb(218, 138, 238);
    color: #fff;

}
thead th {
    padding: 15px;
}
tbody td {
    padding: 15px;
}
#thead2 {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    background: rgb(238, 71, 216);   
}
.resultat {
    border: 1px solid black;
    width: 100%;
    margin-top: 20px;   
}
#thead2 {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    background: rgb(243, 240, 237);   
}
#thead2 .total {
    display: flex;
    width: 110px;
    border-radius: 4px;
    color: rgb(49, 48, 48);
    background: rgb(247, 213, 241);
   
}
#thead2 .prixTotal {
    background: none;
    width: 590px;
}
/*tbody td {
    padding: 20px 0 25px 5px;

}*/
button {
    font-size: 15px;
    padding: 17px;
    /*border-radius: 15px;*/
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 0;
    color: #fff;
    background: rgb(206, 14, 174);
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    margin: auto;
}
#erreur {
    color: rgb(243, 50, 50);
}
/* FORMULAIRE */

.formulaire {
    background-color: rgb(250, 206, 244);
    margin-top: 150px;
    overflow: hidden;
}
.header {
    text-align: center;
    padding: 20px;
}
.main-form {
    padding: 30px 40px;
}

.form {
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
}
.form input {
    border: 2px solid #fff;
    border-radius: 14px;
    font-family: inherit;
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 14px;
}
.form i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}
.form small {  
    position: absolute;
    bottom: 0;
    left: 2px;
    visibility: hidden;
}

.btn {
    padding: 10px;
    cursor: pointer;
    background: rgb(154, 150, 155);
    outline: none;
}
.btn:hover {

    background-color: rgb(184, 6, 238);
}

/* PAGE DE CONFIRMATION */


/*.commande {

    background: rgb(241, 172, 232);
    margin-top: 90px;
    padding: 30px;
    width: 100%;

}
.commande h2 {

    display: flex;
    justify-content: center;
}
form {

    margin-top: 50px;
}
.Email {

    margin-left: 30px;
}
.emailInp {

    display: block;
    justify-content: center;
    margin: 20px auto;
    outline: 0;
    background: #f1f1f1;
    width: 90%;
    border: 0;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;

}
.flexInp {

    display: block;
    justify-content: center;
    margin: 20px auto;
    outline: 0;
    background: #f1f1f1;
    width: 90%;
    border: 0;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;

}
.labelFlax {

    margin-left: 30px;
}

input {

    display: block;
    justify-content: center;
    margin: 20px auto;
    outline: 0;
    background: #f1f1f1;
    width: 90%;
    border: 0;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;

}

.boutton {

    display: block;
    justify-content: center;
    width: 90%;
    margin: 45px auto 0 auto;
    outline: 0;
    height: 50px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    background: rgb(45, 5, 46);
    color: #fff;
    border: 0;
    font-family: 'poppins', sans-serif;
}

.boutton:hover {

    background: rgb(199, 79, 109);

}

#erreur {

    color: rgb(161, 1, 1);*/

}

/* FOOTER */


footer {

    background: rgba(24, 1, 20, 0.651);
    margin-top: 245px;
}


.info ul  {

    list-style-type: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.info a {

    
    text-decoration: none;
    color: #fff;
    margin-top: 10px;

}








