body {

    background:#cac9ca;
    font-family: 'poppins', sans-serif;  
}
/* HEADER */
.presentation {
    background: rgb(243 173 221 / 65%);
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.presentation img  {
    width: 120px;  
}
.liens {
    display: flex;
    width: 170px;
    font-size: 20px;   
}
.liens ul {
    display: flex;
    list-style-type: none;  
}
.liens a {
    display: flex;
    text-decoration: none;
    margin-left: 15px;
    color: rgb(184 6 238);  
}
.liens i {
    font-size: 25px;
    width: 40px;  
}


/* validation DE LA COMMANDE */
#validation {

    background: rgb(163, 233, 135);
    margin: 0 200px 0 200px;
    border-radius: 25px;
    width:auto;
    max-height: 90%;
}
#validation h1 {

    display: flex;
    justify-content: center;
    margin-top: 21px;
    font-size: 15px;
    padding: 40px 0 0 0;
    color: rgb(7, 59, 7);
}
#validation p {

    display: flex;
    justify-content: center;
    padding: 20px 10px 40px 10px;
    margin-top: 20px;
    color: rgb(7, 59, 7);
    font-size: 15px;
    
}
/* FOOTER */

footer {

    background: rgba(233, 148, 207, 0.651);
    margin-top: 200px;
}
.info ul  {

    list-style-type: none;
    padding: 20px;
    display:flex;
    justify-content: space-around; 
}
.info a {
    text-decoration: none;
    color: #656363;
    margin-top: 10px;
}
/*LA PAGE DE VALIDATION LA VERSION RESPONSIVE (MEDIA)- PAGE 4 */
@media (min-width: 320px) {
    #validation {
        margin: 20px;
    }
    #validation h1 {
        font-size: 15px;
    }
    #validation p {
        margin: auto;
        font-size: 15px;
    }
}

@media (min-width: 700px) {

    #validation {

        margin: auto;
        width: 650px;
        height: 750px;
    }
    #validation h1 {

        padding: 50px 0 0 0;
        font-size: 30px;
    }
    #validation p {

        padding: 40px 0 0 20px;
        font-size: 19px;
    }
}
@media (min-width: 1000px) {

    #validation {

        margin: auto;
        width: 850px;
        height: 90%;

    }
    #validation h1 {

        padding: 60px 0 0 0;
        font-size: 30px;
    }
    #validation p {

        padding: 0px 20px 0px 10px;
        font-size: 19px;
        margin-top: 50px;
    }

}